body{
    background-size: cover;
}

h1{
    font-weight: bold;
}


.heading{
    margin: 20px;
    width: 20%;
    font-size: 30px;
}

.heading1{
    width: 100%;
    font-size: 25px;
    margin-top: 0%;
}

#status1
{
font-size: 20px;
}

canvas{
    margin-top: 20px;
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}

.back{
    position: fixed;
    top: 60px;
    left: 10px;
    padding: 10px;
}
